.wrapper {
    position: absolute;
    max-width: 400px;
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.wrapper > div:first-child {
    margin-right: 4px;
}

@media screen and (max-width: 440px) {
    .wrapper {
        max-width: 250px;
        min-width: 250px;
    }

    .wrapper > div:first-child {
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 440px) and (max-width: 560px) {
    .wrapper {
        max-width: 350px;
        min-width: 200px;
    }
}
